mixin comment(colSize, title, text, smallText)
    div.col.col-12.my-4(class=colSize)
        div.neon-blue.h1
            em= title
        div.text-light.h5 &bdquo; #{text} &ldquo;
        if smallText
            div.text-light
                small= smallText

main.text-center(role='main')
  .container
    .row.justify-content-md-center
        .col.col-lg-6.col-lg-auto
            .container.bg-light.my-5
                .row.bg-banner
                    .col
                        img(src='/img/benny.png').m-2
                .row.bg-black &nbsp;
                .row.bg-banner
                    .col
                        img(src=`/img/gets-${locale}.png`).m-2
                .row.bg-black &nbsp;
                .row.bg-banner
                    .col
                        img(src='/img/30.png').m-2
    .row
        .col
            a(href='/invite', class=`btn-invite-${locale}`) 
                div.mx-auto
    .row
        +comment('col-md-4', 'Joda', __("Confirm... you should"))
        +comment('col-md-4', 'Buzz Lightyear', __("To April and beyond"))
        +comment('col-md-4', 'Thor', __("HAMMER!"))

    .row
        +comment('col-md-6', 'Batman', __("I'm Batman"))
        +comment('col-md-6', 'Gandalf', __("Youuu... shall not... pass!!"), __("Without an invitation"))

    .row
        .col.my-5 &nbsp;